.navbar .nav-item{
    margin-left: 230px;
    font-size: larger;
    text-transform: uppercase;
    
    
}
.navbar b{
    color: white;
}
.navbar .navbar-brand{
    font-size: x-large;
}
