.backgroundpic{
    background-image:url("./background.jpeg")  ;
   background-repeat: no-repeat;
   background-size: 100% 90%;
} 
.signin{
    color: rgb(190, 19, 19);
}
*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 25%;
    padding: 16px;
   
    box-shadow: 20px 20px 20px 0px rgba(0,0,0, 0,7);
}
input[type='text'],
input[type='password']{
    width: 100%;
    padding: 8px;
    margin: 1px 0 18px 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
    border-radius: 2%;
    
}
.button{
    text-align: center;
    
}
button{
    background-color:whitesmoke;
}
/* .container{
    background-color: hsla(0, 55%, 0%, 0.2);
} */